.top-sheet {
    background-color: #FFFFFF;
    padding: 16px;
    position: fixed;
    top: 50dvh;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease-in-out;
    height: 95vh;
    width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    border-radius: 10px;
    z-index: 1000;
}

.top-sheet.show {
    padding-top: 0;
    transform: translate(-50%, -50%) scale(1);
}

.top-sheet .top-sheet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 2000;
}

.top-sheet .top-sheet.show {
    transform: translate(-50%, -50%) scale(1);
}